/* bootstrap */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* carousel */
#myCarousel {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
    max-width: 1024px;
}